.y-axis-values {
  width: 50px;
  height: 100%;
  float: left;
  margin: 0;
  padding: 0;
  top: 100px;
}

.y-axis-values li {
  list-style: none;
  bottom: 145px;
  position: relative;
  height: 150px;
}

.y-axis-values span {
  font-size: 12px;
  position: absolute;
  bottom: 0;
  right: 10px;
}

.bars {
  display: inline-block;
  width: 500px;
  height: 300px;
  padding: 0;
  margin: 0;
  border-left: 2px solid black;
  border-bottom: 2px solid black;
  margin-top: 12px;
}

.bars li {
  display: table-cell;
  position: relative;
  width: 100px;
  height: 300px;

}

.bars span {
  position: absolute;
  text-align: center;
  bottom: -30px;
  width: 100%;
}

.bars .bar {
  display: block;
  background-color: red;
  width: 50px;
  bottom: 0;
  position: absolute;
  margin-left: 25px;
  text-align: center;
}

.bars .bar:before {
  content: attr(value);
  position: relative;
  bottom: -15px;
}
